<p id="notice"><%= notice %></p>

<h1>Namespaces</h1>

<table>
  <thead>
    <tr>
      <th>Namespace</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @namespaces.each do |namespace| %>
      <tr>
        <td><%= namespace.namespace %></td>
        <td><%= link_to 'Show', namespace %></td>
        <td><%= link_to 'Edit', edit_namespace_path(namespace) %></td>
        <td><%= link_to 'Destroy', namespace, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Namespace', new_namespace_path %>
